.header-container {
    gap: 1.5rem;
}
.align-icon {
    color: var(--app-primaryColor);
    font-size: 1.5rem;
}
.headerIcon-container {
    text-align: left;
}
.delayedCard {
    background-color: var(--alert-color);
}
.delayedCard .align-icon {
    color: var(--red-color);
}
.singleHeader-container {
    flex-direction: column;
    width: 25%;
    padding: 1rem;
    gap: 0.9rem;
    border-radius: 0.2rem;
    border: 1px solid var(--chart-wrapper);
    text-align: center;
}
.header-count {
    font-size: 2rem;
    font-weight: 900;
}